html {
	background-image: url(../images/background_pattern.jpg);
	background-size: auto 20.74vmin;
	background-color: #344ea9;
	background-position: center bottom;
	background-repeat: repeat-x;
	height:calc(100vh - calc(100vh - 100%));
	width:calc(100vw - calc(100vw - 100%));
	overflow: hidden;
}

.hint_desc_paragraph a {
	color: #344ea9;
	text-decoration: none;
	font-weight: 900;
}

.haruto_2021, .haruto_2020, .haruto_2018 {

	
	height: calc(100vmin - calc(100vmin - 100%));
	position: absolute;
	top: 0;
	left: 0vmax;
	width: 65vmin;
	background-size: contain;
	background-position: center bottom;
	background-repeat: no-repeat;
	opacity: 0;
}

.haruto_2021.selected, .haruto_2020.selected, .haruto_2018.selected {
	opacity: 1;
}

.haruto_2018.haruto_normal {
	background-image: url(../images/2018haruto_normal.PNG);
	
}

.haruto_2020.haruto_normal {
	background-image: url(../images/2020haruto_normal.PNG);
}

.haruto_2021.haruto_normal {
	background-image: url(../images/2021haruto_normal.PNG);
}


.haruto_2018.haruto_correct {
	background-image: url(../images/2018haruto_correct.PNG);
	
}

.haruto_2020.haruto_correct {
	background-image: url(../images/2020haruto_correct.PNG);
}

.haruto_2021.haruto_correct {
	background-image: url(../images/2021haruto_correct.PNG);
}

.haruto_2018.haruto_incorrect {
	background-image: url(../images/2018haruto_incorrect.PNG);
	
}

.haruto_2020.haruto_incorrect {
	background-image: url(../images/2020haruto_incorrect.PNG);
}

.haruto_2021.haruto_incorrect {
	background-image: url(../images/2021haruto_incorrect.PNG);
}


#question_holder {

	position: absolute;
	top: 3.74vmin;
	right: 0;
	width: 116.85vmin;
	height: 21.76vmin;
	background-position: right center;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 10;
	background-image: url(../images/question_bg.png);
}


#answer_container {
	position: absolute;
	top: calc(3.74vmin + 21.76vmin + 4vmin);
	right: 0;
	width: calc(116.85vmin - 5.08vmin);
	height: 42.4vmin;
	padding-left: 5.08vmin;
	display: flex;
	flex-wrap: wrap;
}

.answer_box {

	position: relative;
	width: 47.48vmin;
	height: 20.09vmin;
	background-image: url(../images/bg_answer_raw.jpg);
	background-position: right 0.926vmin;
	background-size: 46.11vmin 17.68vmin;
	background-repeat: no-repeat;
	margin-right: 3vmax;
	margin-bottom: 1.04vmax;

	color: #e8e8e8;
	font-family: Lato;
	font-weight: 900;
}

.answer_bg {
	position: absolute;
top: 1vmin;
left: 0;
width: 46.11vmin;
height: 17.68vmin;
background-color: #1f1f1f;
transform: rotate(-4deg);
transition: all 0.25s ease-in-out;
cursor: pointer;

}

.answer_box:hover .answer_bg,  .answer_box.selected .answer_bg {
background-color: #519fff;
}

.answer_box.wrong .answer_bg {
background-color: #e00748;
}


.answer_centering {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 42.32vmin;
height: 19.53vmin;
position: absolute;
z-index: 10;
left: 1.8vmin;
top: 0.3vmin;
cursor: pointer;
text-transform: uppercase;
letter-spacing: 1px;
}

.answer_bottom {
	position: absolute;
bottom: 1.5vmin;
left: 2vmin;
font-size: 3vmin;
}

#hints_container {

	position: absolute;
	bottom: 0;
	right: 0;
	width: calc(116.85vmin - 5.08vmin);
	height: calc(100vmin - (5.74vmin + 21.76vmin + 4vmin + 42.4vmin));
	padding-left: 5.08vmin;
	
}

#catto_buttons_container {
	position: relative;
	height: 9.26vmin;
}

#catto_buttons_container .wording {
	position: absolute;
bottom: 2vmin;
background-color: #1f1f1f;
color: #fff;
font-family: Lato;
font-weight: 700;
font-style: italic;
text-transform: uppercase;
letter-spacing: 3px;
width: 54vmin;
padding: 1.2vmin;
border-radius: 1vmin;
}

.catto_buttons_list {
	padding-left: 10.28vmin;
	display: flex;
	position: relative;
z-index: 5;
}

.catto_button {
	background-color: #e8e8e8;
	height: 7.4vmin;
	width: 7.4vmin;
	border-radius: 100%;
	border: 5px solid #1f1f1f;
	margin-right: 1.3vmin;
	background-position: left center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
}

.catto_button:hover {
	border-color: #ee14a4;
}

.catto_button.selected {
	border-color: #ee14a4;
}

#button_0 {
	background-image: url(../images/Harunya-Catto-1.png);
}

#button_1 {
	background-image: url(../images/Harunya-Catto-3.png);
}

#button_2 {
	background-image: url(../images/Harunya-Catto-2.png);
}

#button_3 {
	background-image: url(../images/Harunya-Catto-4.png);
}

#button_4 {
	background-image: url(../images/Harunya-Catto-5.png);
}

.the_big_catto{
	position: absolute;
	
	background-repeat: no-repeat;
	background-size: contain;
	left: 38vmax;
	bottom: 0;
	background-position: center bottom;
	height: 31vmin;
width: 35vmin;
opacity: 0;

}

.the_big_catto.selected {opacity: 1;}

#big_0 {background-image: url(../images/Harunya-Catto-1.png);}

#big_1 {background-image: url(../images/Harunya-Catto-3.png);}

#big_2 {background-image: url(../images/Harunya-Catto-2.png);}

#big_3 {background-image: url(../images/Harunya-Catto-4.png);}

#big_4 {background-image: url(../images/Harunya-Catto-5.png);}

#hint_desc_container {
	background-color: #e8e8e8;
	position: absolute;
	height: calc(20.74vmin - 7.26vmin);
	width: 35vmax;
	bottom: 2vmin;
	border-radius: 1.5vmin;
	color: #000000;

}

#hint_desc_container::after {
	content: "";
width: 0;
height: 0;
border-top: 6vmin solid transparent;
border-bottom: 6vmin solid transparent;
border-left: 6vmin solid #e8e8e8;
position: absolute;
right: -2vmin;
top: 0;
}

.hint_desc_buttons {
	position: absolute;
	bottom: 0.5vmax;
	left: 0.5vmax;
}

.hint_desc_paragraph {
	height: calc(20.74vmin - 7.26vmin - 20px);
	width: calc(35vmax - 60px);
	padding: 10px 30px;
	display: flex;
	align-items: center;
	font-family: Lato;
	text-transform: uppercase;
	font-size: 0.95vmax;
letter-spacing: 1px;
}

#question_progress {
	color: #e8e8e8;
font-family: Lato;
font-weight: 900;
position: absolute;
top: 7.5vmin;
font-size: 4.5vmin;
line-height: 4.5vmin;
left: 1vmin;
}

#question_maksimum {
	color: #519fff;
font-size: 2vmin;
padding-left: 2.8vmin;
line-height: 2vmin;
}

#question_content {
	font-family: Lato;
font-weight: 700;
position: absolute;
color: #1f1f1f;
text-transform: uppercase;
font-size: 2.3vmin;
line-height: 2.8vmin;
width: calc(116.85vmin - 38vmin);
padding-left: 14vmin;
height: 21.76vmin;
display: flex;
align-items: center;
letter-spacing: 1px;
}

#test_progress_bar {
	position: absolute;
	top: 4vmax;
	left: 3vmax;
	display: flex;
	width: 70vmin;
	z-index: 10;
}


.question_bullet {
	background-color: #5d71ba;
	width: calc((70vmin / 50) - 0.5vmin);
	height: calc((70vmin / 50) - 0.5vmin);
	margin-right: 0.5vmin;
	border-radius: 100%;
}

.question_bullet.correct {
	background-color: #ee14a4;
}

.question_bullet.incorrect {
	background-color: #1f1f1f;
}

#test_progress_teks {
	font-family: Lato;
	font-weight: 400;
	text-transform: uppercase;
	color: #95a8f0;
	position: absolute;
	z-index: 10;
	top: 2vmax;
	left: 3vmax;

}

#tes_menu_bar {
font-family: Lato;
font-weight: 700;
text-transform: uppercase;
position: absolute;
top: 5.2vmax;
left: 3vmax;
color: #e8e8e8;
z-index: 10;
}

.t_jp {font-family: 'M PLUS 1p', sans-serif;}

.desc_button {cursor: pointer}
.desc_button.disabled {color: #acb4bf}



@media only screen and (max-width: 1279px) {

	html {
		height:calc(100vh - calc(100vh - 100%));
		width:calc(100vw - calc(100vw - 100%));
		overflow: hidden;

		aspect-ratio: 9 / 16;
	}
 	#question_holder {
 		  top: 11vh;
	    right: 0;
	    width: 100%;
	    height: 21.76vmin;
 	}

 	#test_progress_teks {
 		font-size: 3vmin;
 	}

 	#test_progress_bar {
 		top: 4.5vmax;
	    width: calc(100vw - 6vmax);
 	}

 	.question_bullet {
 		width: calc(((100vw - 6vmax) / 50) - 0.5vmin);
    	height: calc(((100vw - 6vmax) / 50) - 0.5vmin);
 	}

 	#tes_menu_bar {
 		top: 6vmax;
 		font-size: 2.5vmin;
 	}

 	#answer_container {
 		top: 28vh;
	    right: 1.5vmin;
	    width: 99%;
	    padding-left: 0;
 	}

 	.answer_box {
 		width: calc(50% - 3vmax);
 		margin-right: 1.5vmax;
    	margin-left: 1.5vmax;

 	}

 	#hints_container {
 		    bottom: 0;
    z-index: 15;
       width: calc(100vw - calc(100vw - 100%));
    height: 40vh;
    overflow: hidden;
    padding-left: 0;
 	}

 	#catto_buttons_container .wording {
 		padding-left: 25vw;
    width: calc(75vw - calc(100vw - 100%));
    border-radius: 0;
 	}

 	.catto_buttons_list {
 		position: absolute;
    right: 2vw;
 	}

 	.catto_button {
    
    height: 10vmin;
    width: 10vmin;
	}

	.haruto_2021, .haruto_2020, .haruto_2018 {
		width: 35vh;
		height: 35vh;
		bottom: 0;
    	top: revert;
    	background-position: left bottom;
	}

	.the_big_catto {
		background-size: contain;
    height: 20vh;
    width: 45vw;
    bottom: 0;
    right: 0;
    background-position: right bottom;
    left: revert;
	}

	#hint_desc_container {
		top: 9vh;
    right: 2vw;
    width: 45vw;
    height: 15vh;
    z-index: 20
	}

	#hint_desc_container::after {
		right: 12vw;
    top: revert;
    bottom: -3vh;
    transform: rotate(
90deg);
	}

	.hint_desc_paragraph {
		width: calc(45vw - 40px);
    height: calc(15vh - 40px);
    padding: 20px;
    font-size: 2.4vw;
    line-height: 3vw;
	}

	.hint_desc_buttons {
		font-size: 30px;
	}

	.answer_centering {
		    font-size: 2.9vw;
	}

	#question_content {
		padding: 0;
    padding-left: 13.5vw;
    width: calc(100% - 36vw);
	}


	.haruto_2018.haruto_normal {
	background-image: url(../images/2018haruto_normal_smaller.PNG);
	
}

.haruto_2020.haruto_normal {
	background-image: url(../images/2020haruto_normal_smaller.PNG);
}

.haruto_2021.haruto_normal {
	background-image: url(../images/2021haruto_normal_smaller.PNG);
}


.haruto_2018.haruto_correct {
	background-image: url(../images/2018haruto_correct_smaller.PNG);
	
}

.haruto_2020.haruto_correct {
	background-image: url(../images/2020haruto_correct_smaller.PNG);
}

.haruto_2021.haruto_correct {
	background-image: url(../images/2021haruto_correct_smaller.PNG);
}

.haruto_2018.haruto_incorrect {
	background-image: url(../images/2018haruto_incorrect_smaller.PNG);
	
}

.haruto_2020.haruto_incorrect {
	background-image: url(../images/2020haruto_incorrect_smaller.PNG);
}

.haruto_2021.haruto_incorrect {
	background-image: url(../images/2021haruto_incorrect_smaller.PNG);
}


.answer_box {
	    height: 11vh;
}

.answer_bg {
 height: 10vh;	
}

.answer_centering {
	font-size: 2.9vw;
    height: 10vh;
    top: 0.5vh;
    padding-left: 0.1vw;
    text-align: center;
}

}




