html {
	
	height:100vh;
	width:100vw;
	overflow: hidden;
	min-height: 680px;
	min-width: 1280px;

	background-color: #000;
}

body {
	margin: 0px;
}



#wrapper {
	position: relative;
	min-height: 720px;
	min-width: 1280px;

	background-image: url(https://raw.githubusercontent.com/hbdharuto/2021/gh-pages/images/background_pattern.jpg);
	background-size: auto 224px;
	background-color: #344ea9;
	background-position: center bottom;
	background-repeat: repeat-x;
}

.hint_desc_paragraph a {
	color: #344ea9;
	text-decoration: none;
	font-weight: 900;
}

.haruto_2021, .haruto_2020, .haruto_2018 {

	
	height: 100vh;;
	position: absolute;
	top: 0;
	left: 0;
	width: 460px;
	background-size: contain;
	background-position: center bottom;
	background-repeat: no-repeat;
	opacity: 0;
}

.haruto_2021.selected, .haruto_2020.selected, .haruto_2018.selected {
	opacity: 1;
}

.haruto_2018.haruto_normal {
	background-image: url(https://raw.githubusercontent.com/hbdharuto/2021/gh-pages/images/2018haruto_normal.PNG);
	
}

.haruto_2020.haruto_normal {
	background-image: url(https://raw.githubusercontent.com/hbdharuto/2021/gh-pages/images/2020haruto_normal.PNG);
}

.haruto_2021.haruto_normal {
	background-image: url(https://raw.githubusercontent.com/hbdharuto/2021/gh-pages/images/2021haruto_normal.PNG);
}


.haruto_2018.haruto_correct {
	background-image: url(https://raw.githubusercontent.com/hbdharuto/2021/gh-pages/images/2018haruto_correct.PNG);
	
}

.haruto_2020.haruto_correct {
	background-image: url(https://raw.githubusercontent.com/hbdharuto/2021/gh-pages/images/2020haruto_correct.PNG);
}

.haruto_2021.haruto_correct {
	background-image: url(https://raw.githubusercontent.com/hbdharuto/2021/gh-pages/images/2021haruto_correct.PNG);
}

.haruto_2018.haruto_incorrect {
	background-image: url(https://raw.githubusercontent.com/hbdharuto/2021/gh-pages/images/2018haruto_incorrect.PNG);
	
}

.haruto_2020.haruto_incorrect {
	background-image: url(https://raw.githubusercontent.com/hbdharuto/2021/gh-pages/images/2020haruto_incorrect.PNG);
}

.haruto_2021.haruto_incorrect {
	background-image: url(https://raw.githubusercontent.com/hbdharuto/2021/gh-pages/images/2021haruto_incorrect.PNG);
}


#question_holder {

	position: absolute;
	top: 15px;
	right: 0;
	width: 800px;
	height: 150px;
	background-position: right center;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 10;
	background-image: url(https://raw.githubusercontent.com/hbdharuto/2021/gh-pages/images/question_bg.png);
}


#answer_container {
	position: absolute;
	top: 190px;
	right: 0;
	width: 760px;
	height: 300px;
	padding-left: 40px;
	display: flex;
	flex-wrap: wrap;
}

.answer_box {

	position: relative;
	width: 320px;
	height: 130px;
	background-image: url(https://raw.githubusercontent.com/hbdharuto/2021/gh-pages/images/bg_answer_raw.jpg);
	background-position: right 6.3px;
	background-size: 315px 120px;
	background-repeat: no-repeat;
	margin-right: 30px;
	margin-bottom: 15px;

	color: #e8e8e8;
	font-family: Lato;
	font-weight: 900;
}

.answer_bg {
	position: absolute;
top: 5px;
left: 0;
width: 315px;
height: 120px;
background-color: #1f1f1f;
transform: rotate(-4deg);
transition: all 0.25s ease-in-out;
cursor: pointer;

}

.answer_box:hover .answer_bg,  .answer_box.selected .answer_bg {
background-color: #519fff;
}

.answer_box.wrong .answer_bg {
background-color: #e00748;
}


.answer_centering {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 290px;
height: 130px;
position: absolute;
z-index: 10;
left: 12px;
top: 2px;
cursor: pointer;
text-transform: uppercase;
letter-spacing: 1px;
}

.answer_bottom {
	position: absolute;
bottom: 10px;
left: 12px;
font-size: 21px;
}

#hints_container {

	position: absolute;
	bottom: 0px;
	right: 0;
	width: 760px;
	height: 28vh;
	padding-left: 30px;
	
}

#catto_buttons_container {
	position: absolute;
	height: 65px;
	bottom: 125px;
}

#catto_buttons_container .wording {
	position: absolute;
bottom: 15px;
background-color: #1f1f1f;
color: #fff;
font-family: Lato;
font-weight: 700;
font-style: italic;
text-transform: uppercase;
letter-spacing: 3px;
width: 370px;
padding: 10px;
border-radius: 10px;
}

.catto_buttons_list {
	padding-left: 70px;
	display: flex;
	position: relative;
z-index: 5;
}

.catto_button {
	background-color: #e8e8e8;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	border: 5px solid #1f1f1f;
	margin-right: 10px;
	background-position: left center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
}

.catto_button:hover {
	border-color: #ee14a4;
}

.catto_button.selected {
	border-color: #ee14a4;
}

#button_0 {
	background-image: url(https://raw.githubusercontent.com/hbdharuto/2021/gh-pages/images/Harunya-Catto-1.png);
}

#button_1 {
	background-image: url(https://raw.githubusercontent.com/hbdharuto/2021/gh-pages/images/Harunya-Catto-3.png);
}

#button_2 {
	background-image: url(https://raw.githubusercontent.com/hbdharuto/2021/gh-pages/images/Harunya-Catto-2.png);
}

#button_3 {
	background-image: url(https://raw.githubusercontent.com/hbdharuto/2021/gh-pages/images/Harunya-Catto-4.png);
}

#button_4 {
	background-image: url(https://raw.githubusercontent.com/hbdharuto/2021/gh-pages/images/Harunya-Catto-5.png);
}

.the_big_catto{
	position: absolute;
	
	background-repeat: no-repeat;
	background-size: contain;
	right: 20px;
	bottom: 0;
	background-position: right bottom;
	height: 210px;
width: 520px;
opacity: 0;

}

.the_big_catto.selected {opacity: 1;}

#big_0 {background-image: url(https://raw.githubusercontent.com/hbdharuto/2021/gh-pages/images/Harunya-Catto-1.png);}

#big_1 {background-image: url(https://raw.githubusercontent.com/hbdharuto/2021/gh-pages/images/Harunya-Catto-3.png);}

#big_2 {background-image: url(https://raw.githubusercontent.com/hbdharuto/2021/gh-pages/images/Harunya-Catto-2.png);}

#big_3 {background-image: url(https://raw.githubusercontent.com/hbdharuto/2021/gh-pages/images/Harunya-Catto-4.png);}

#big_4 {background-image: url(https://raw.githubusercontent.com/hbdharuto/2021/gh-pages/images/Harunya-Catto-5.png);}

#big_5 {background-image: url(https://raw.githubusercontent.com/hbdharuto/2021/gh-pages/images/Harunya-Catto-Conan.png);}


#hint_desc_container {
	background-color: #e8e8e8;
	position: absolute;
	height: 100px;
	width: 480px;
	bottom: 15px;
	border-radius: 10px;
	color: #000000;

}

#hint_desc_container::after {
	content: "";
width: 0;
height: 0;
border-top: 40px solid transparent;
border-bottom: 40px solid transparent;
border-left: 40px solid #e8e8e8;
position: absolute;
right: -15px;
top: 0;
}

.hint_desc_buttons {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.hint_desc_paragraph {
	height: 80px;
	width: 420px;
	padding: 10px 30px;
	display: flex;
	align-items: center;
	font-family: Lato;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 400;
letter-spacing: 1px;
}

#question_progress {
	color: #e8e8e8;
font-family: Lato;
font-weight: 900;
position: absolute;
top: 50px;
font-size: 30px;
line-height: 30px;
left: 10px;
}

#question_maksimum {
	color: #519fff;
font-size: 13px;
padding-left: 20px;
line-height: 13px;
}

#question_content {
	font-family: Lato;
font-weight: 700;
position: absolute;
color: #1f1f1f;
text-transform: uppercase;
font-size: 16px;
line-height: 20px;
width: 535px;
padding-left: 95px;
height: 150px;
display: flex;
align-items: center;
letter-spacing: 1px;
}

#test_progress_bar {
	position: absolute;
	top: 55px;
	left: 40px;
	display: flex;
	width: 450px;
	z-index: 10;
}


.question_bullet {
	background-color: #5d71ba;
	width: calc((450px / 50) - 3px);
	height: calc((450px / 50) - 3px);
	margin-right: 3px;
	border-radius: 100%;
}

.question_bullet.correct {
	background-color: #ee14a4;
}

.question_bullet.incorrect {
	background-color: #1f1f1f;
}

#test_progress_teks {
	font-family: Lato;
	font-weight: 400;
	text-transform: uppercase;
	color: #95a8f0;
	position: absolute;
	z-index: 10;
	top: 25px;
	left: 40px;

}

#tes_menu_bar {
font-family: Lato;
font-weight: 700;
text-transform: uppercase;
position: absolute;
top: 70px;
left: 40px;
color: #e8e8e8;
z-index: 10;
}

.t_jp {font-family: 'M PLUS 1p', sans-serif;}

.desc_button {cursor: pointer}
.desc_button.disabled {color: #acb4bf}



.window_holder {height:100vh;
	width:100vw;
	overflow: hidden;
	min-height: 680px;
	min-width: 1280px;
position: relative;
display: none;
}

 #main_welcome {display: block;}

.nyobacenter_lagi .inner > div {
	width: 60vw;
	position: absolute;
	
	right: 0;
	font-family: Lato;
	font-weight: 900;
	text-transform: uppercase;
	color: #ebebeb;
	text-align: right;
padding-right: 40px;
}

.welcome_title {
	
	font-size: 32px;
	text-align: left!important;
	
	line-height: 40px;
	top: 30px;
	letter-spacing: 2px;
}

.purpose_title {
color: #eb91df!important;
bottom: 75px;
text-align: right;
font-size: 20px;
padding-right: 40px;
letter-spacing: 2px;
line-height: 20px;
}

.presented_by {
bottom: 55px;
letter-spacing: 1px;
font-size: 12px;
line-height: 12px;
}

.almamater_jir {
color: #519fff!important;
bottom: 30px;
letter-spacing: 1px;
font-size: 10px;
line-height: 10px;
}

.welcome_menus_container {
	text-align: left!important;
	letter-spacing: 2px;
	bottom: 20px;
	font-size: 18px;
	line-height: 28px;
	z-index: 20;
}

.welcome_menus {
	margin: 0;
	color: #eb91df;
	cursor: pointer;
	z-index: 20;
}

.welcome_menus_container a {
	color: #eb91df!important;
	text-decoration: none!important;
}

.welcome_menus:hover {
	color: #519fff;
}

.nyobacenter_lagi .inner{
	height: 510px;
	position: relative;
	width: 100%;
}


#main_language .nyobacenter_lagi .inner, #main_credits .nyobacenter_lagi .inner {
	height: 300px;
}


.nyobacenter_lagi {
	display: flex;
	height: calc(100vh - 164px);
	align-items: center;
}

#tes_menu_bar {
	cursor: pointer;
}


.biggest_window {
	background-color: rgba(0,0,0,1);

width: calc(100vw - calc(100vw - 100%));
height: calc(100vh - calc(100vh - 100%));
position: fixed;
top: 0;
left: 0;
z-index: 30;
cursor: pointer;
display: none;
}

.haruto_notification {
	width: calc(100vw - calc(100vw - 100%));
height: calc(100vh - calc(100vh - 100%));
position: fixed;
top: 0;
left: 0;
z-index: 30;
background-position: center bottom;
background-size: contain;
background-repeat: no-repeat;

}

.haruto_comment {
	display: flex;
	width: 50vw;
	height: 30vh;
	background-color: #ebebeb;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	font-family: Lato;
padding: 2vw;
	position: fixed;
	bottom: 10vh;
	margin: auto;
	color: #000;
	left:  25vw;
	z-index: 32;
	border-radius: 2vw;
}

 @media screen and (min-width: 320px) and (max-width: 1279px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }

  #wrapper {
		width: 100vh;
		height: 100vw;
	}
	.window_holder {
		width: 100vh;
		height: 100vw;
	}

	.haruto_2021, .haruto_2020, .haruto_2018 {
		height: 100vw;
		width: 35vh;
	}

	#fleksed_div {
		height: 72vw;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	#fleksed_div .inner {
    position: absolute;
    height: 500px;
    width: 100vh;
}

.nyobacenter_lagi {
    display: flex;
    height: calc(100vw - 164px);
    justify-content: center;
    align-items: center;
}

.nyobacenter_lagi .inner {
	width: 1000px;
	padding-left: 50px;
}

.haruto_comment {
	
	width: 50vh;
	height: 30vw;
	padding: 2vh;
	bottom: 10vw;
	left:  25vh;
	border-radius: 2vh;
}
}



/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
#loader {
    display:    block;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: #fff 
                url('https://raw.githubusercontent.com/hbdharuto/2021/gh-pages/images/loadingbar.gif') 
                50% 50% 
                no-repeat;
}
